.introtext {
text-align: center;
}

#question1, #question2, #question3, #question4, #question5 {
  border-style: ridge;
  border-width: 5px;
  padding: 15px;
  margin: 50px;
  width: 30%;
  text-align: center;
  border-radius: 10px;
  box-shadow: 5px 6px;
  border-color: rgba(137, 43, 226, 0.63) ;
}

#restartbtn {
  display: none;
}
